* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #445C99;
  height: 100vh;
  font-size: 1.6rem;
}

.header {
  min-height: 60px;
  width: 100%;
  background: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-size: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.header__logo {
  color: white;
}

.header__logo-span {
  font-weight: 900;
  font-size: 2.1rem;
}

.header__hamburger {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  position: relative;
}

.header__hamburger .hamburger__inner {
  position: absolute;
  width: 30px;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

.header__hamburger .hamburger__inner:nth-child(2) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.header__hamburger .hamburger__inner:nth-child(3) {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}

.header__hamburger.open .hamburger__inner:nth-child(1) {
  opacity: 0;
}

.header__hamburger.open .hamburger__inner:nth-child(2) {
  -webkit-transform: translateX(-15px) rotate(-45deg);
          transform: translateX(-15px) rotate(-45deg);
}

.header__hamburger.open .hamburger__inner:nth-child(3) {
  -webkit-transform: translateX(-15px) rotate(45deg);
          transform: translateX(-15px) rotate(45deg);
}

.header__menu {
  display: none;
  opacity: 0;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__menu.active {
  display: block;
  opacity: 1;
}

.header__menu .menu-list__item {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__menu .menu-list__item a {
  display: block;
  text-decoration: none;
  color: black;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.45);
}

.landing-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 130px 0;
  height: 270px;
}

.landing-page__heading {
  color: white;
  font-size: 3.6rem;
  text-align: center;
}

.landing-page__paragrap {
  color: white;
}

.landing-page__button {
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  background: #EA5B58;
}

.landing-page__image {
  display: none;
}
/*# sourceMappingURL=main.css.map */