.customers {
    position: relative;
    background: white;
    color: black;
    padding: 30px 0;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    @include title-subtitle;

    &__subtitle {
        margin: 10px 0;
    }

    svg {
        margin: 20px;
    }

    &__clients {
        @include flex-center;
        flex-direction: column;


        .clients__image {
            width: 200px;
            height: 200px;
            flex: 1 0 200px;
            border-radius: 50%;
            margin: 40px 0;
            background: gray;
        }

        .clients__comments {
            text-align: left;
            margin-left: 30px;

            .clients__text {
                span {
                    font-size: 3rem;
                    margin-right: 10px;
                }

                font-size: 2rem;

            }

            .clients__name {
                display: block;
                margin: 20px 0 10px 0;
                font-size: 3.5rem;
                font-weight: 900;
            }

            .clients__nav {
                display: flex;
                justify-content: center;

                .clients__dots {
                    margin: 20px 10px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: gray;
                }
            }
        }

    }
}

@media(min-width:768px) {
    .customers {

        &__clients {
            flex-direction: row;
            width: 90%;

        }
    }

    .clients__nav {

        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width:1024px) {
    .customers {
        &__clients {
            flex-direction: row;
            width: 80%;


        }
    }
}

@media(min-width:1480px) {
    .customers {
        &__clients {
            flex-direction: row;
            width: 60%;

        }
    }
}