.header {
    height: 60px;
    width: 100%;
    background: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 2rem;

    &__logo {
        color: white;

        &-span {
            font-weight: 900;
            font-size: 2.1rem;
        }
    }

    &__hamburger {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        position: relative;

        .hamburger__inner {
            position: absolute;
            width: 30px;
            height: 2px;
            background: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:nth-child(2) {
                transform: translate(-50%, -10px);
            }

            &:nth-child(3) {
                transform: translate(-50%, 10px);
            }
        }


    }

    &__menu {
        display: none;
    }
}