.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);

    &__container {
        @include flex-center;
        flex-direction: column;
        justify-content: space-between;
        margin: 130px 0;
        height: 270px;
    }

    &__heading {
        color: white;
        font-size: 3.6rem;
        text-align: center;
    }

    &__paragrap {
        color: white;
    }


    &__button {
        @include button;
    }

    &__image {
        display: none;
    }


}