.portfolio {
    @include title-subtitle;
    @include flex-center;
    flex-direction: column;

    svg {
        margin: 20px 0;
    }

    &__filter {
        font-size: 25px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &__grid {
        display: grid;
        margin: 50px 0 30px 0;
        width: 90%;
        max-width: 1400px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 30px;
        justify-content: center;

        &-item {
            height: 250px;
            max-width: 350px;
            padding: 40px 30px;
            background-color: gray;
            @include flex-center;
            flex-direction: column;
            justify-content: space-around;
            justify-self: center;

            .grid-item__headings {
                font-size: 3rem;
            }

            .grid-item__description {
                text-align: center;
            }
        }

    }
}