.service {
    @include flex-center;
    flex-direction: column;

    margin-top: 70px;

    &__heading {
        font-size: 3.6rem;
        margin: 20px 0;
    }

    &__subtitle {
        font-size: 2.2rem;
    }

    svg {
        margin: 20px 0;
    }

    &__container {
        @include flex-center;
        flex-direction: column;
        width: 80%;

        .service__item {
            @include flex-center;
            flex-direction: column;
            margin: 30px 0;
            max-width: 300px;

            &-title {
                margin: 10px 0;
            }

            &-text {
                text-align: center;
                margin: 10px 0;
            }

            &-button {
                @include button;
                margin: 10px;
            }
        }
    }

}

@media(min-width:768px) {
    .service {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 30px;

            .service__item {
                width: 40%;
            }
        }
    }
}